
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

:root{
    --yellow-clr-1: #F4D349;
    --yellow-clr-2: #F6CE66;
    --brown: #d0aa6d;
    --dark-brown: #8A4D00;

    --text-clr-1: #000;

    --thin-fw: 100;
    --extra-light-fw: 200;
    --light-fw: 300;
    --regular-fw: 400;
    --medium-fw: 500;
    --semi-bold-fw: 600;
    --bold-fw: 700;
    --extra-bold-fw: 800;
    --black-fw: 900;
}

body{
    font-family: "Roboto", sans-serif;
    color: var(--text-clr-1);
}
.dark-brown{
    color: var(--dark-brown);
}
.text-clr-1{
    color: var(--text-clr-1);
}
.merriweather-font{
    font-family: 'Merriweather', serif;
}
.btn:focus{
    box-shadow: none;
}
/* Different Font Sizes */
.fs-10{
    font-size: 0.625rem;
}
.fs-12{
    font-size: 0.75rem;
}
.fs-14{
    font-size: 0.875rem;
}
.fs-16{
    font-size: 1rem;
}
.fs-18{
    font-size: 1.125rem;
}
.fs-20{
    font-size: 1.25rem;
}
.fs-22{
    font-size: 1.375rem;
}
.fs-24{
    font-size: 1.5rem;
}
.fs-26{
    font-size: 1.625rem;
}
.fs-28{
    font-size: 1.75rem;
}
.fs-30{
    font-size: 1.875rem;
}
.fs-32{
    font-size: 2rem;
}
.fs-34{
    font-size: 2.125rem;
}
.fs-36{
    font-size: 2.25rem;
}
.fs-38{
    font-size: 2.375rem;
}
.fs-40{
    font-size: 2.5rem;
}
.fs-42{
    font-size: 2.625rem;
}
.fs-44{
    font-size: 2.75rem;
}
.fs-46{
    font-size: 2.875rem;
}
.fs-48{
    font-size: 3rem;
}
.fs-50{
    font-size: 3.125rem;
}
.fs-52{
    font-size: 3.25rem;
}
.fs-54{
    font-size: 3.375rem;
}
.fs-56{
    font-size: 3.5rem;
}
.fs-58{
    font-size: 3.625rem;
}
.fs-60{
    font-size: 3.75rem;
}

/* Different Font Weights */
.thin-fw{
    font-weight: var(--thin-fw);
}
.extra-light-fw{
    font-weight: var(--extra-light-fw);
}
.light-fw{
    font-weight: var(--light-fw);
}
.regular-fw{
    font-weight: var(--regular-fw);
}
.medium-fw{
    font-weight: var(--medium-fw);
}
.semi-bold-fw{
    font-weight: var(--semi-bold-fw);
}
.bold-fw{
    font-weight: var(--bold-fw);
}
.extra-bold-fw{
    font-weight: var(--extra-bold-fw);
}
.black-fw{
    font-weight: var(--black-fw);
}

/* Margin Styles */
.mt-30{
    margin-top: 1.875rem;
}
.mt-32{
    margin-top: 2rem;
}
.mt-36{
    margin-top: 2.25rem;
}
.mt-40{
    margin-top: 2.5rem;
}
.mt-42{
    margin-top: 2.625rem;
}
.mt-50{
    margin-top: 3.125rem;
}
.mt-60{
    margin-top: 3.75rem;
}
.mb-30{
    margin-bottom: 1.875rem;
}
.mb-32{
    margin-bottom: 2rem;
}
.mb-36{
    margin-bottom: 2.25rem;
}
.mb-40{
    margin-bottom: 2.5rem;
}
.mb-42{
    margin-bottom: 2.625rem;
}
.mb-50{
    margin-bottom: 3.125rem;
}
.mb-60{
    margin-bottom: 3.75rem;
}

.bg-1{
    background-color: var(--brown);
}
.bg-2{
    background-color: var(--yellow-clr-2);
}

/* Different Text Styles */
.font-style-italic{
    font-style: italic;
}
.text-underline{
    text-decoration: underline;
}
/* Top Navbar */
.custom-navbar{
    background: #FFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
.custom-navbar .navbar-toggler {
    color: rgba(0, 0, 0, 0.55);
    border-color: rgba(0, 0, 0, 0.1);
}
.less-width{
    width: 125px;
}
.custom-navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.custom-navbar-nav{
    .nav-link{
        color: var(--text-clr-1);

        &.active{
            color: var(--dark-brown) !important;
            font-weight: 500;
        }
    }
}
.navbar-expand-lg .navbar-nav .nav-link.header-btn {
    background-color: var(--yellow-clr-1);
    border-radius: 25px;
    padding: .5rem 1.65rem;

    &:hover{
        background-color: var(--yellow-clr-2);
    }
}
.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 3rem;
    width: 50px;
    height: 50px;
    line-height: 35px;
    background-color: var(--yellow-clr-1);
    border-radius: 50%;
    z-index: 1;
    outline: none;
    border: 0;
    display: none;
}
.back-to-top:focus, .back-to-top:hover {
    background-color: var(--yellow-clr-2);
}

.back-to-top img{
    width: 20px;
}
/* End of Top Navbar */


/* Index or Home Page */
.main-hero-section{
    margin-top: 225px;
    margin-bottom: 165px;
}
.main-heading{
    font-family: 'Merriweather', serif;
    font-weight: var(--bold-fw);
    position: relative;

    &::before{
        content: url('../images/heading-brush.svg');
        position: absolute;
        top: -0.15rem;
        left: -1.75rem;
        z-index: -1;
    }
}
.yellow-btn{
    background-color: var(--yellow-clr-1);
    border-radius: 25px;
    padding: .65rem 2rem;
    font-size: 1.125rem;
    display: inline-block;
    color: var(--text-clr-1);
    font-weight: var(--medium-fw);
    transition: all .3s ease-in-out;

    &:hover{
        background-color: var(--yellow-clr-2);
        color: var(--text-clr-1);
        box-shadow: 0 10px 40px 0 rgb(0 0 0 / 20%);
        -webkit-box-shadow: 0 10px 40px 0 rgb(0 0 0 / 20%);
    }
}
.lh-34{
    line-height: 34px;
}
.lh-38{
    line-height: 38px;
}
.lh-48{
    line-height: 48px;
}
.about-us-section{
    margin-bottom: 75px;
}
.meet-our-founder-section{
    .founder-div{
        background-color: var(--yellow-clr-2);
        padding: 3rem 3.75rem 2.5rem 4rem;
        border-radius: 15px;
    }

    .founder-img{
        border-radius: 25px;
        padding: 1.25rem;
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='25' ry='25' stroke='black' stroke-width='7' stroke-dasharray='18' stroke-dashoffset='32' stroke-linecap='square'/%3e%3c/svg%3e");
        
        img{
            border-radius: 15px;
        }
    }
}
.popular-courses-section{
    margin-top: 175px;
    margin-bottom: 185px;
}
.popular-course-card{
    .course-img-div{
        background: #FFFFFF;
        border: 1px solid #000000;
        border-radius: 15px;
        padding: 0.5rem;
        text-align: center;
        display: inline-block;
        position: relative;

        .course-tag{
            position: absolute;
            background-color: #D0AA6D;
            border-radius: 25px;
            color: #000;
            padding: 0.35rem 1.25rem;
            top: .5rem;
            left: .5rem;
        }
    }
    h5{
        font-family: 'Merriweather', serif;
        font-weight: var(--bold-fw);
        margin-top: 2.25rem;
        padding-bottom: .85rem;
    }
    label{
        display: flex;
        align-items: center;
        font-size: 1.125rem;
        margin-bottom: 1rem;

        &:last-child{
            margin-right: 0;
        }

        img{
            margin-right: .75rem;
        }
        &.level-label{
            img{
                position: relative;
                top: -5px;
            }
        }
        span.dot{
            color: #C4C4C4;
            margin-left: .65rem;
            margin-right: .65rem;
            font-size: 1.5rem;
        }
    }
    .nav-link[aria-expanded=false]{
        img{
            transform: rotate(0deg);
        }
    }
    .nav-link[aria-expanded=true]{
        img{
            transform: rotate(180deg);
        }
    }
}
.gapping-1{
    row-gap: .35rem;
    column-gap: 2rem;
}
.brown-heading{
    color: var(--dark-brown);
    font-family: 'Merriweather', serif;
    font-size: 2.25rem;
    font-weight: var(--bold-fw);
}

.our-workshops-section{
    margin-bottom: 150px;
}
.workshop-card{
    background: #FFF;
    border: 1px solid #000;
    border-radius: 15px;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;

    .nav-link[aria-expanded=false]{
        img{
            transform: rotate(0deg);
        }
    }
    .nav-link[aria-expanded=true]{
        img{
            transform: rotate(180deg);
        }
    }

    .workshop-footer{
        margin-top: auto;
        background-color: var(--yellow-clr-1);
        padding: 1.25rem 1.25rem 1rem;
        border-top: 1px solid #000;

        h4{
            font-family: 'Merriweather', serif;
            font-size: 1.25rem;
        }

        label{
            display: flex;
            align-items: center;
            // font-size: 1.125rem;
            margin-bottom: 1rem;
            margin-right: 1.5rem;

            &:last-child{
                margin-right: 0;
            }
    
            img{
                margin-right: .75rem;
            }
            &.level-label{
                img{
                    position: relative;
                    top: -5px;
                }
            }
            span.dot{
                color: var(--brown);
                margin-left: .5rem;
                margin-right: .5rem;
                font-size: 1.25rem;
            }
        }
    }
    .workshop-img{
        text-align: center;
    }
}
.p-relative{
    position: relative;
}
.article-div{
    background-color: rgba(244, 211, 73, 0.35);
    padding: 50px 35px 35px 60px;
    border-radius: 15px;
    margin-bottom: 3rem;
    position: relative;
    top: -15px;

    &::before{
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        top: -15px;
        left: 30px;
        border-left: 35px solid transparent;
        border-right: 35px solid transparent;
        border-bottom: 35px solid #FBF0BF;
    }

    p{
        font-size: 20px;
    }

    .content-enroll-now-btn{
        background-color: var(--yellow-clr-1);
        text-transform: uppercase;
        font-size: 1.125rem;
        font-weight: var(--medium-fw);
        border-radius: 25px;
        padding: .55rem 1.5rem;
        transition: all .3s ease-in-out;

        &:hover{
            background-color: var(--yellow-clr-2);
            color: var(--text-clr-1);
            box-shadow: 0 10px 40px 0 rgb(0 0 0 / 20%);
            -webkit-box-shadow: 0 10px 40px 0 rgb(0 0 0 / 20%);
        }
    }


    ul li{
        font-size: 1.25rem;
    }
}

.one{
    .article-div::before{
        top: -15px;
        left: 3%;
    }
}
.two{
    .article-div::before{
        top: -15px;
        left: 38%;
    }
}
.three{
    .article-div::before{
        top: -15px;
        left: 70%;
    }
}


.course-slider{
    margin-right: -2rem;
    .slick-slide{
        margin-right: 2rem;
    }
}
.social-platforms-section{
    margin-bottom: 150px;
}
.social-platform-grid{
    padding-top: 2rem;
    display: grid;
    max-width: 100%;
    grid-template-columns: 45% 19% auto;
    grid-template-rows: 235px 150px 150px 235px;
    align-content: flex-start;
    gap: 40px;
    position: relative;
    min-height: 0;
    min-width: 0;

    .several-circles{
        position: absolute;
        top: 68%;
        left: 48%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }

    .several-circles{
        position: absolute;
        top: 68%;
        left: 45%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
    .several-lines{
        position: absolute;
        top: 30%;
        left: 57%;
        transform: translateX(-50%);
        z-index: -1;
    }

    .img-item{
        overflow: hidden;
        position: relative;
        // outline: 1px solid red;
    }
    img{
        width: 100%;
        display: block;
    }
    .img-1{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        
    }
    .img-2{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    .img-3{
        grid-column: 3 / 4;
        grid-row: 1 / 3;
    }
    .img-4{
        grid-column: 1 / 2;
        grid-row: 2 / 5;
        
        img{
            height: 100%;
            object-fit: cover;
        }
    }
    .img-5{
        grid-column: 2 / 3;
        grid-row: 2 / 4;
    }
    .img-6{
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }
    .img-7{
        grid-column: 3 / 4;
        grid-row: 3 / 5;

        img{
            height: 100%;
        }
    }
}
.slider-arrows{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-end;
    height: 100%;

    .slick-arrow{
        position: static;
        cursor: pointer;
        width: auto;
        height: auto;


        &.slick-disabled{
            opacity: 0.36;
            cursor: text;
        }

    }
}
.view-details-link{
    img{
        display: inline;
    }

    
    
}

.workshop-footer{
    .nav-link{
        &:hover, &:focus{
            color: var(--dark-brown);
        }
    }
}

/* Code for Animated Input */
.group {
    position: relative;
    margin-bottom: 2.5rem;
}
.group .form-control {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #000;
    box-shadow: none;
    padding-left: 0;
    font-size: 1.125rem;
}
.group select.form-control {
    background-image: url("../images/icons/down-arrow.svg");
    background-position: 98%;
    background-repeat: no-repeat;
}
.group input:focus {
    outline: none;
}
.group label {
    font-size: 1.125rem;
    font-weight: 400;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 0;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
// .group input[name='dob']:focus ~ label,
// .group input[name='dob']:valid ~ label {
//     top: -20px;
//     font-size: 0.8rem;
//     color: var(--blue-clr);
// }
.group input:focus ~ label,
.group input:valid ~ label {
    top: -20px;
    font-size: 0.85rem;
    color: var(--dark-brown);
}
.bar {
    position: relative;
    display: block;
    width: 100%;
}
.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: #000;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
.bar:before {
    left: 50%;
}
.bar:after {
    right: 50%;
}
.group input:focus ~ .bar:before,
.group input:focus ~ .bar:after {
    width: 50%;
}
.text-group textarea{
    display: block;
    background: none;
    padding: 0.125rem 0.125rem 0.0625rem;
    border-width: 0;
    border-color: transparent;
    line-height: 1.9;
    width: 100%;
    -webkit-transition: all 0.28s ease;
    transition: all 0.28s ease;
    box-shadow: none;
    padding-top: 15px;
    outline: none;
    border-bottom: 1px solid #d7d7d7;
}
.text-group textarea:focus ~ label,
.text-group textarea:valid ~ label,
.text-group textarea.form-file ~ label,
.text-group textarea.has-value ~ label {
    font-size: 14px;
    color: var(--dark-brown);
    top: -1rem;
    left: 0;
}
// .text-group textarea:focus ~ label {
//     color: #272751;
// }
.text-group textarea:focus ~ .bar::before {
    width: 100%;
    left: 0;
}
/* End of Animated Input */
.registration-form-section{
    background-color: var(--brown);
    padding: 6rem 0;
    margin-bottom: 150px;
}
.registration-form-wrapper{
    border-radius: 25px;
    
    .registration-left-part{
        background-color: #fff;
        border-radius: 25px 0 0 25px;
        padding: 4rem 2.5rem 3.5rem 6rem;
        position: relative;

        &::before{
            content: '';
            position: absolute;            
            width: 50px;
            height: 50px;
            background-color: #fff;
            border-radius: 50%;
            top: -25px;
            left: 8rem;
            box-shadow: -45px -30px 0 -10px #fff, -85px -50px 0 -10px #fff;
        }
    }
    .registration-heading{
        color: var(--dark-brown);
        font-family: 'Merriweather', serif;
        font-weight: var(--bold-fw);
    }
    .registration-right-part{
        height: 100%;
        background-color: var(--yellow-clr-1);
        border-radius: 0 25px 25px 0;
        position: relative;

        &::after{
            content: '';
            position: absolute;            
            width: 100px;
            height: 100px;
            background-color: #fff;
            border-radius: 50%;
            bottom: -50px;
            right: 4rem;
            box-shadow: -80px 40px 0 -30px #fff, -145px 60px 0 -22px #fff;
        }
    }
    .registration-form-check{
        display: flex;
        .form-check-input{
            border: 1px solid var(--dark-brown);
            border-radius: 2px;
            margin-right: .75rem;
            flex-shrink: 0;
            position: relative;
            top: -3px;

            &:focus{
                box-shadow: none;
            }
            &:checked{
                background-color: var(--dark-brown);
            }
        }
        .form-check-label{
            font-size: .875rem;
        }
    }
    .enroll-now-btn{
        background-color: var(--yellow-clr-1);
        color: #fff;
        font-weight: var(--bold-fw);
        border-radius: .625rem;
        padding: .75rem 2rem;
        font-size: 1.125rem;
        text-transform: uppercase;
        transition: all .3s ease-in-out;

         &:hover{
            background-color: var(--yellow-clr-2);
            color: var(--text-clr-1);
            box-shadow: 0 10px 40px 0 rgb(0 0 0 / 20%);
            -webkit-box-shadow: 0 10px 40px 0 rgb(0 0 0 / 20%);
        }
    }
    .registration-right-part{
        display: flex;
        align-items: center;
        justify-content: end;
        padding-right: 5rem;
    }
    .learn-skills-text{
        color: var(--dark-brown);
        font-family: 'Merriweather', serif;
        font-size: 2.25rem;
        line-height: 3.75rem;
        font-weight: var(--bold-fw);
        text-align: right;

        span{
            color: #fff;
        }
    }
}

.meet-the-team-section{
    margin-bottom: 200px;

    &.top-margin{
        margin-top: 150px;;
    }
}
.team-member-card{
    .bg-n-content{
        position: relative;
    }
    .member-content{
        position: absolute;
        left: 2rem;
        top: 4.5rem;
        max-width: 60%;
        font-size: 1.125rem;
    }
    .align-2{
        left: 3.5rem;
    }
    .align-3{
        left: 5rem;
        top: 2.75rem;
        color: #fff;
    }

    .team-member-img{
        position: relative;
        top: -1rem;
        left: 1rem;
        width: 125px;
        height: 125px;
        border-radius: 50%;
        border: 1px solid #e5e5e5;
    }
}
.team-slider{
    .slick-track{
        .slick-active:nth-child(odd){
            margin-top: 5rem;
        }
    }
}
.testimonials-section{
    background-color: #FBF0BF;
    padding: 65px 0 50px;
    margin-bottom: 150px;
}
.testimonial-card{
    .vid-thumbnail{
        position: relative;
        cursor: pointer;
        margin-bottom: 1.5rem;
        width: 100%;

        .thumb-img{
            border-radius: 15px;
            width: 100%;
        }

        .play-icon{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;
        }
    }
    p{
        font-size: 1.25rem;
        line-height: 34px;
    }
}
.testimonial-video-modal{
    .modal-content{
        background-color: transparent;
        border: 0;
    }
    .modal-body{
        padding: 0;
        border: 0;
    }
    .modal-header{
        position: absolute;
        top: 0;
        border: 0;
        width: 100%;
        z-index: 9999;
        background-color: rgba(0,0,0,0.15);
        border-radius: 15px 15px 0 0;

        .modal-title{
            color: #fff;
        }

        .btn-close{
            background: none;
            width: 45px;
            height: 45px;
            opacity: 1;
            cursor: pointer;
        }
    }
}
.embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    min-height: 500px;
    padding: 0;
    overflow: hidden;
}
.embed-responsive::before {
    display: block;
    content: "";

}
.embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    overflow: hidden;
    border-radius: 15px;
}
.embed-responsive video {
    border-radius: 15px;
    overflow: hidden;
}

.spotted-section{
    background-color: var(--yellow-clr-2);
    padding: 80px 0;
    margin-bottom: 150px;

    .spotted-heading{
        font-family: "Merriweather",serif;
        font-weight: var(--bold-fw);
    }
}
.spotted-wrapper{
    padding-top: 5rem;
    min-width: calc(100vw - 164px);
    overflow-x: hidden;
    // margin: 0 -2rem;

    .slick-slide{
        margin-right: 6rem;
    }

    .slick-list, .slick-track{
        overflow: visible;
    }

    .spotted-card{
        position: relative;
        .spotted-img-div{
            background-color: #fff;
            padding: 1.125rem;
            text-align: center;
            
            img{
                width: 100%;
            }
        }

        .left-clip{
            position: absolute;
            left: 1rem;
            top: -4.75rem;
            z-index: 1;
        }
        .right-clip{
            position: absolute;
            right: 1rem;
            top: -4.75rem;
            z-index: 1;
        }
    }
    
}
.read-our-minds-section{
    margin-bottom: 150px;
}
.testimonial-slider{
    padding-top: 3rem;
    margin-right: -2rem;

    .slick-slide{
        margin-right: 2rem;
    }
}
.blog-wrapper{
    padding-top: 5rem;
    margin-right: -2rem;

    .slick-slide{
        margin-right: 2rem;
    }
}
.blog-card{
    .blog-img-div{
        background: #FFF;
        border: 1px solid #000000;
        border-radius: 15px;
        overflow: hidden;

        img{
            width: 100%;
        }
    }

    .medium-fw a{
        font-weight: var(--medium-fw);
    }

    .blog-details{
        display: flex;
        justify-content: space-between;
        gap: 1rem;

        label{
            color: #989898;
        }
    }
}
footer{
    background: #FBF0BF;
    padding-top: 3rem; 
    padding-bottom: 1rem;
}
.footer-right-details{
    border-left: 1px solid #D0AA6D;
    padding-left: 2.5rem;
}
.link-hover{
    &:hover{
        color: var(--dark-brown);
    }
}
.border-bottom-brown{
    border-bottom: 1px solid #D0AA6D;
}


/* End of Index or Home Page */

.gap-3 {
    gap: 1rem!important;
}

.gap-5 {
    gap: 3rem!important;
}
.fw-bold {
    font-weight: 700!important;
}
.flex-shrink-0 {
    flex-shrink: 0!important;
}








/* Media Query Starts */
/* For Big Devices more than 1920px */
@media screen and (min-width: 1920px){
    .spotted-wrapper{
        padding-top: 5rem;
        min-width: none;
    }
    
}

@media screen and (min-width: 1400px){
    .flex-xxl-row {
        flex-direction: row !important;
    }
    .pt-xxl-0 {
        padding-top: 0!important;
    }
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1320px;
    }
    .course-slider{
        margin-right: -6rem;

        .popular-course-card{
            margin-right: 6rem;
        }
    }

    .flex-xxl-row {
        flex-direction: row!important;
    }
}
@media (min-width: 1200px){
    .modal-xl {
        max-width: 1140px;
    }
}

@media screen and (min-width: 1366px) and (max-width: 1439px){
    .spotted-wrapper{
        min-width: calc(100vw - 125px);
        .slick-slide{
            margin-right: 5rem;
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
    .main-heading::before{
        left: 20%
    }
}

@media screen and (max-width: 1365px){
    .registration-form-wrapper{
        .registration-left-part {
            padding-left: 4rem;
        }
        .registration-right-part {
            padding-right: 3.5rem;
        }

    } 
}

@media screen and (max-width: 1199.99px){
    .course-card-wrapper{
        .two .article-div::before {
            top: -15px;
            left: 55%;
        }
    }
    .team-slider .slick-track .slick-active:nth-child(odd) {
        margin-top: 0;
    }

    .social-platform-grid{
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
    }

}
@media screen and(min-width: 992px){
    .text-lg-start {
        text-align: left!important;
    }
}
@media screen and (min-width: 768px){
    .gap-md-5 {
        gap: 3rem!important;
    }
}


@media screen and (max-width: 991.99px){
    .footer-right-details{
        border-left: 0;
        padding-left: 0;
    }
    .registration-form-wrapper{
        .registration-left-part {
            padding-left: 2rem;
        }
        .registration-right-part {
            padding-right: 2rem;
        }
        .learn-skills-text{
            font-size: 1.75rem;
            line-height: 2.75rem;
        }
    }
    .navbar-light .navbar-brand img{
        width: 125px;
    }
    .custom-navbar-nav{
        text-align: center;
        gap: 1rem !important;
        border-top: 1px solid #a1a1a1;
        margin-top: 1rem;
    }
}

/* For Mobile Devices less than 767px */
@media screen and (max-width: 767px){
    .fs-mob-10{
        font-size: 0.625rem !important;
    }
    .fs-mob-12{
        font-size: 0.75rem !important;
    }
    .fs-mob-14{
        font-size: 0.875rem !important;
    }
    .fs-mob-16{
        font-size: 1rem !important;
    }
    .fs-mob-18{
        font-size: 1.125rem !important;
    }
    .fs-mob-20{
        font-size: 1.25rem !important;
    }
    .fs-mob-22{
        font-size: 1.375rem !important;
    }
    .fs-mob-24{
        font-size: 1.5rem !important;
    }
    .fs-mob-26{
        font-size: 1.625rem !important;
    }
    .fs-mob-28{
        font-size: 1.75rem !important;
    }
    .fs-mob-30{
        font-size: 1.875rem !important;
    }
    .fs-mob-32{
        font-size: 2rem !important;
    }
    .fs-mob-34{
        font-size: 2.125rem !important;
    }
    .fs-mob-36{
        font-size: 2.25rem !important;
    }
    .fs-mob-38{
        font-size: 2.375rem !important;
    }
    .fs-mob-40{
        font-size: 2.5rem !important;
    }
    .fs-mob-42{
        font-size: 2.625rem !important;
    }
    .fs-mob-44{
        font-size: 2.75rem !important;
    }
    .fs-mob-46{
        font-size: 2.875rem !important;
    }
    .fs-mob-48{
        font-size: 3rem !important;
    }
    .fs-mob-50{
        font-size: 3.125rem !important;
    }
    .fs-mob-52{
        font-size: 3.25rem !important;
    }
    .fs-mob-54{
        font-size: 3.375rem !important;
    }
    .fs-mob-56{
        font-size: 3.5rem !important;
    }
    .fs-mob-58{
        font-size: 3.625rem !important;
    }
    .fs-mob-60{
        font-size: 3.75rem !important;
    }

    .mt-mob-30{
        margin-top: 1.875rem;
    }
    .mt-mob-32{
        margin-top: 2rem;
    }
    .mt-mob-36{
        margin-top: 2.25rem;
    }
    .mt-mob-40{
        margin-top: 2.5rem;
    }
    .mt-mob-42{
        margin-top: 2.625rem;
    }
    .mt-mob-50{
        margin-top: 3.125rem;
    }
    .mt-mob-60{
        margin-top: 3.75rem;
    }
    .mb-mob-30{
        margin-bottom: 1.875rem;
    }
    .mb-mob-32{
        margin-bottom: 2rem;
    }
    .mb-mob-36{
        margin-bottom: 2.25rem;
    }
    .mb-mob-40{
        margin-bottom: 2.5rem;
    }
    .mb-mob-42{
        margin-bottom: 2.625rem;
    }
    .mb-mob-50{
        margin-bottom: 3.125rem;
    }
    .mb-mob-60{
        margin-bottom: 3.75rem;
    }

    .main-hero-section{
        margin-top: 10rem;
    }

    .meet-our-founder-section{
        .founder-div {
            padding: 2rem 1.5rem;
        }
    }
    .br-mob-none{
        br{
            display: none;
        }
    }
    .registration-form-wrapper{

        .registration-left-part {
            border-radius: 25px 25px 0 0;
            padding: 4rem 1.5rem 3.5rem 1.5rem;
            // position: relative;
        }

        .registration-right-part{
            border-radius: 0 0 25px 25px;
            padding: 2rem 1.5rem;
            justify-content: center;
        }

        .learn-skills-text{
            text-align: center;
            font-size: 2rem;
        }
    }
    .slider-arrows{
        justify-content: center;
        .slick-arrow{
            position: relative;
            left: 0;
            right: 0;
        }
    }
    .article-div{
        padding: 35px 25px 35px 25px;
    }
    .team-slider .slick-track .slick-active:nth-child(odd){
        margin-top: 0 !important;
    }
    .course-slider {
        margin-right: 0;
    }
    .blog-wrapper, .testimonial-slider {
        // padding-top: 5rem;
        margin-right: 0;
    }
    .social-platform-grid{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 1rem;

        .img-item{
            grid-column: 1 / -1;
            grid-row: unset;
        }
    }
    .main-heading::before{
        left: 7%;
    }
}

/* Awards Section */
.awards-section{
    margin-bottom: 150px;
}
.certificate-div{
    padding: 1rem 1.25rem;
}
.founder-section{
    background-color: #FBF0BF;
    padding: 4rem 0 5rem; 
}
.img-br{
    border-radius: 15px;
}
/* End of Awards Section */